extends layout.pug
block title
	title= 'Outgoing shipments'
block content
	h2= 'Shipments'
	table
		td= "Batch"
		td= "Serial"
		td= "From"
		td= "To"
		td= "ReceiveDt"
		td= "ShipDt"
		td= "Completed"
		for product in currentList
			tr
				td
					form(action="/current/batch" method="get")
						input(type="hidden" name="batch" value=product.Batch)
						input(type="submit" value=product.Batch)
				td= product.Serial
				td= product.From
				td= product.To
				td= product.ReceiveDt
				td= product.ShipDt
				td= product.Completed
	br
	form(action="/current/batch" method="get")
		| Batch search: 
		input(type="text" name="batch")
		input(type="submit" value="Submit")
	form(action="current/script" method="get")
		input(type="submit" value="Run Script")
