extends layout.pug
block title
	title= 'Outgoing shipments'
block content
	br
	br
	h2= 'Shipments'
	br
	table#desc 
		th#desc2= "Batch" 
		th#desc2= "Serial"
		th#desc2= "From"
		th#desc2= "To"
		th#desc2= "Receive Date"
		th#desc2= "Ship Date"
		th#desc2= "Completed"
		for product in currentList
			tr
				td
					form(action="/current/batch" method="get")
						input(type="hidden" name="batch" value=product.Batch)
						input(type="submit" value=product.Batch)
				td= product.Serial
				td= product.From
				td= product.To
				td= product.ReceiveDt
				td= product.ShipDt
				td= product.Completed
	br
	form(action="/current/batch" method="get")
		| Batch search: 
		input(type="text" name="batch")
		input(type="submit" value="Submit")
	form(action="current/script" method="get")
		input(type="submit" value="Run Script")
