html
	head
		title= product.serial
	body
		h1= product.serial
		article 
			p Serial: #{product.Serial} 
			p Model: #{product.Model} 
			p CurLocation: #{product.CurLocation}
		form(action="/inventory" method="get")
			input(type="submit" value="Back")