html
	head
		title= 'Product List'
		style
			include style.css
	body
		include choppedhtml.txt
	h1= 'Product List'
	table
		for product in productList
			tr
				td= product.Serial
				td= product.Model
				td= product.CurLocation