extends layout.pug
block title
	title= 'Product List'
block content
	h2= 'Product List'
	table
		for product in productList
			tr
				td= product.Serial
				td= product.Model
				td= product.CurLocation
	form(action="/inventory.html" method="get")
						| Serial search: 
						input(type="text" name="serial")
						input(type="submit" value="Submit")