extend layout.pug
block title 
	title="Returns"
block content
	table#desc4
		th#desc3= "Return ID"
		th#desc3= "Serial"
		th#desc3= "Return Location"
		for product in returnList
			tr
				td= product.ReturnID
				td= product.Serial
				td= product.ReturnLocation
	br
	form(action="/return/serial" method="get")
		| Return product by serial: 
		input(type="text" name="serial")
		input(type="submit" value="Return")
